
.selectize-input {
  border: 1px solid #cccccc;
  padding: 6px 12px;
  display: inline-block;
  width: 83%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px #395c82;
  border: solid .5px #395c82;
  border-radius: .3rem;
}

.navbar-inverse {background-image: linear-gradient(#51a4ff, #4c88ca 50%, #799abd);
                 text-shadow: 0 -1px 0 rgba(0,0,0,0.3); 
                 border: solid 3px #bec3c7;
}




.shiny-input-checkboxgroup.shiny-input-container-inline label~.shiny-options-group, .shiny-input-radiogroup.shiny-input-container-inline label~.shiny-options-group {
  margin-top: 6px;
  color: darkblue;
}


.value-box > .inner {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.section level2 dashboard-row {
    flex: 150 150 9px;
}